snippet leetcode
from collections import deque
from typing import List, Deque














def main():
    solution = Solution()
    print(f"ans is {solution}")

if __name__ == '__main__':
    main()
endsnippet


